* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 450px;
  max-width: 460px;
  border-radius: 4px;
  background-color: black;
}

.output {
  height: 50px;
}

.keys {
  gap: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child {
  color: #ffffff;
  grid-column-end: 3;
  grid-column-start: 1;
  background-color: tomato;
}

.keys button:nth-child(15) {
  color: #ffffff;
  grid-row: 4 / 6;
  grid-column: 4 / 4;
  background-color: blue;
}

.input {
  color: #fff;
  height: 40px;
  display: block;
  font-size: 30px;
  font-family: 'Digital Numbers', sans-serif;
  text-align: right;
  padding-right: 10px;
}

.result {
   color: yellow;
   height: 40px;
   display: block;
   font-size: 20px;
   font-family: 'Digital Numbers', sans-serif;
   text-align: right;
   padding-right: 10px;
}

button {
  border: none;
  font-size: 28px;
  min-width: 80px;
  min-height: 65px;
  border-radius: 4px;
}
